<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>user</param-name>
    <param-value>stone</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.stone.javaweb.HelloServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.stone.javaweb.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestAttr</display-name>
    <servlet-name>TestAttr</servlet-name>
    <servlet-class>com.stone.javaweb.TestAttr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAttr</servlet-name>
    <url-pattern>/testAttr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.stone.javaweb.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/forwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.stone.javaweb.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.stone.javaweb.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllStudents</display-name>
    <servlet-name>ListAllStudents</servlet-name>
    <servlet-class>com.stone.mvc.ListAllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllStudents</servlet-name>
    <url-pattern>/listAllStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.stone.mvc.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
</web-app>